In [48]:
#importing the necessary libraries needed
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
# confirming the current working directory where the datasets are.
print(os.getcwd())

C:\Users\USER\Desktop\quantium data analysis project\Untitled Folder

In [49]:
#Creating a function to read the first dataset
def readat(file_path):
    df = pd.read_csv(file_path)
    return df

In [50]:
df = readat("C:\\Users\\USER\\Desktop\\quantium data analysis project\\Untitled Folder/QVI_purchase_behaviour.csv")

In [51]:
#checking for the column types in the dataset
df.dtypes

LYLTY_CARD_NBR       int64
LIFESTAGE           object
PREMIUM_CUSTOMER    object
dtype: object

In [52]:
#making a copy of the data set to manipulate
purch = df.copy()

In [53]:
#checking for null values
purch.info()
purch.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72637 entries, 0 to 72636
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    72637 non-null  int64
 1   LIFESTAGE         72637 non-null  object
 2   PREMIUM_CUSTOMER  72637 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB

LYLTY_CARD_NBR      0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [54]:
#dropping null values
purch.dropna(inplace = True)

In [55]:
#number of rows by columns we are dealing with
purch.shape

(72637, 3)

In [56]:
#displaying the data
purch.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [57]:
#renaming the 'PREMIUM_CUSTOMER' to 'CUSTOMER TYPE'
purch.rename(columns={'PREMIUM_CUSTOMER': 'CUSTOMER TYPE'}, inplace=True)

In [58]:
#find the unique types of customers
purch['CUSTOMER TYPE'].unique()

array(['Premium', 'Mainstream', 'Budget'], dtype=object)

In [59]:
#finding the number of premium customers
premdf = purch[purch['CUSTOMER TYPE'] == 'Premium']
premdf['CUSTOMER TYPE'].count()

18922

In [60]:
#finding the number of Budget customers
bugdf = purch[purch['CUSTOMER TYPE'] == 'Budget']
bugdf['CUSTOMER TYPE'].count()

24470

In [61]:
#finding the number of Mainstream customers
maindf = purch[purch['CUSTOMER TYPE'] == 'Mainstream']
maindf['CUSTOMER TYPE'].count()

29245

In [62]:
#we can rseparate the values in 'LIFESTAGE' removing the '/'
purch[['LIFESTAGE', 'SPLIT']] = purch['LIFESTAGE'].str.split('/',expand = True)

In [63]:
#we therefore remove the Column 'SPLIT' for we dont need it
purch.drop(columns = 'SPLIT', inplace = True)

In [64]:
#newly renamed dataset
purch.head(19)

    LYLTY_CARD_NBR       LIFESTAGE CUSTOMER TYPE
0             1000   YOUNG SINGLES       Premium
1             1002   YOUNG SINGLES    Mainstream
2             1003  YOUNG FAMILIES        Budget
3             1004   OLDER SINGLES    Mainstream
4             1005  MIDAGE SINGLES    Mainstream
5             1007   YOUNG SINGLES        Budget
6             1009    NEW FAMILIES       Premium
7             1010   YOUNG SINGLES    Mainstream
8             1011   OLDER SINGLES    Mainstream
9             1012  OLDER FAMILIES    Mainstream
10            1013        RETIREES        Budget
11            1016  OLDER FAMILIES    Mainstream
12            1018   YOUNG SINGLES    Mainstream
13            1019   OLDER SINGLES       Premium
14            1020   YOUNG SINGLES    Mainstream
15            1022  OLDER FAMILIES        Budget
16            1023  MIDAGE SINGLES       Premium
17            1024   YOUNG SINGLES       Premium
18            1025  YOUNG FAMILIES        Budget

In [4]:
#Creating a funvtion to read the second dataset
def readat1(file_path):
    df2 = pd.read_csv(file_path)
    
    
    return df2

In [5]:
#loading the dataframe
df2 = readat1("C:\\Users\\USER\\Desktop\\quantium data analysis project\\Untitled Folder/QVI_transaction_data.csv")

In [6]:
#making a copy of the dataset
transc = df2.copy()

In [10]:
#display the data
transc.head(60)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.00
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.30
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.90
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.00
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.80
5,43604,4,4074,2982,57,Old El Paso Salsa Dip Tomato Mild 300g,1,5.10
6,43601,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.70
7,43601,4,4196,3539,24,Grain Waves Sweet Chilli 210g,1,3.60
8,43332,5,5026,4525,42,Doritos Corn Chip Mexican Jalapeno 150g,1,3.90
9,43330,7,7150,6900,52,Grain Waves Sour Cream&Chives 210G,2,7.20
10,43602,7,7215,7176,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.70
11,43332,8,8294,8221,114,Kettle Sensations Siracha Lime 150g,5,23.00
12,43603,9,9208,8634,15,Twisties Cheese 270g,2,9.20
13,43329,13,13213,12447,92,WW Crinkle Cut Chicken 175g,1,1.70
14,43600,19,19272,16686,44,Thins Chips Light& Tangy 175g,1,3.30
15,43604,20,20164,17136,54,CCs Original 175g,1,2.10
16,43330,20,20418,17413,94,Burger Rings 220g,4,9.20
17,43326,22,22411,18646,98,NCC Sour Cream & Garden Chives 175g,1,3.00
18,43329,22,22456,18696,93,Doritos Corn Chip Southern Chicken 150g,1,3.90
19,43601,23,23067,19162,56,Cheezels Cheese Box 125g,1,2.10
20,43604,25,25105,21815,7,Smiths Crinkle Original 330g,1,5.70
21,43328,33,33081,29949,98,NCC Sour Cream & Garden Chives 175g,1,3.00
22,43328,36,36012,32077,31,Infzns Crn Crnchers Tangy Gcamole 110g,1,3.80
23,43331,36,36302,33188,32,Kettle Sea Salt And Vinegar 175g,1,5.40
24,43327,38,38142,34181,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,2,9.20
25,43600,39,39144,35506,57,Old El Paso Salsa Dip Tomato Mild 300g,1,5.10
26,43331,39,39167,35638,111,Smiths Chip Thinly Cut Original 175g,2,6.00
27,43600,41,41423,38393,46,Kettle Original 175g,1,5.40
28,43327,41,41486,38472,13,Red Rock Deli Thai Chilli&Lime 150g,1,2.70
29,43605,43,43110,39342,31,Infzns Crn Crnchers Tangy Gcamole 110g,1,3.80
30,43601,43,43147,39608,99,Pringles Sthrn FriedChicken 134g,1,3.70
31,43600,43,43227,40186,26,Pringles Sweet&Spcy BBQ 134g,4,14.80
32,43605,45,45127,41122,64,Red Rock Deli SR Salsa & Mzzrlla 150g,2,5.40
33,43603,45,45220,41651,22,Thins Chips Originl saltd 175g,1,3.30
34,43328,51,51100,46802,48,Red Rock Deli Sp Salt & Truffle 150G,1,2.70
35,43331,51,51100,46803,37,Smiths Thinly Swt Chli&S/Cream175G,1,3.00
36,43330,51,51113,46828,36,Kettle Chilli 175g,1,5.40
37,43329,54,54226,48173,51,Doritos Mexicana 170g,1,4.40
38,43330,54,54305,48301,44,Thins Chips Light& Tangy 175g,2,6.60
39,43330,55,55072,48878,107,Smiths Crinkle Cut French OnionDip 150g,1,2.60
40,43599,55,55072,48883,106,Natural ChipCo Hony Soy Chckn175g,1,3.00
41,43605,55,55073,48887,4,Dorito Corn Chp Supreme 380g,1,3.25
42,43605,55,55073,48887,113,Twisties Chicken270g,1,4.60
43,43601,55,55202,49690,45,Smiths Thinly Cut Roast Chicken 175g,1,3.00
44,43330,56,56013,50090,39,Smiths Crinkle Cut Tomato Salsa 150g,1,2.60
45,43601,58,58324,54252,102,Kettle Mozzarella Basil & Pesto 175g,1,5.40
46,43601,59,59344,56007,31,Infzns Crn Crnchers Tangy Gcamole 110g,1,3.80
47,43328,60,60038,56304,104,Infuzions Thai SweetChili PotatoMix 110g,1,3.80
48,43600,60,60162,56825,7,Smiths Crinkle Original 330g,1,5.70
49,43599,62,62177,58848,3,Kettle Sensations Camembert & Fig 150g,1,4.60
50,43605,63,63201,60709,82,Smith Crinkle Cut Mac N Cheese 150g,1,2.60
51,43332,67,67053,64137,88,Kettle Honey Soy Chicken 175g,1,5.40
52,43605,71,71122,69717,40,Thins Chips Seasonedchicken 175g,1,3.30
53,43604,71,71212,70337,73,Smiths Crinkle Cut Salt & Vinegar 170g,2,5.80
54,43329,72,72094,70995,7,Smiths Crinkle Original 330g,1,5.70
55,43601,72,72335,72083,87,Infuzions BBQ Rib Prawn Crackers 110g,1,3.80
56,43601,74,74336,73182,84,GrnWves Plus Btroot & Chilli Jam 180g,5,15.50
57,43599,75,75091,73751,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.80
58,43331,75,75186,74168,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,2,9.20
59,43326,75,75309,74676,70,Tyrrells Crisps Lightly Salted 165g,1,4.20

In [12]:
#checking for null values
transc.info()
transc.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  int64
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  object
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 16.2+ MB

DATE              0
STORE_NBR         0
LYLTY_CARD_NBR    0
TXN_ID            0
PROD_NBR          0
PROD_NAME         0
PROD_QTY          0
TOT_SALES         0
dtype: int64

In [13]:
# Convert 'DATE' column to 'yyyy-mm-dd' format
transc['DATE'] = pd.to_datetime(transc['DATE'], origin='1899-12-30', unit='D').dt.strftime('%Y-%m-%d')

In [15]:
#display to see date change
transc.head(20)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8
5,2019-05-19,4,4074,2982,57,Old El Paso Salsa Dip Tomato Mild 300g,1,5.1
6,2019-05-16,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7
7,2019-05-16,4,4196,3539,24,Grain Waves Sweet Chilli 210g,1,3.6
8,2018-08-20,5,5026,4525,42,Doritos Corn Chip Mexican Jalapeno 150g,1,3.9
9,2018-08-18,7,7150,6900,52,Grain Waves Sour Cream&Chives 210G,2,7.2
10,2019-05-17,7,7215,7176,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7
11,2018-08-20,8,8294,8221,114,Kettle Sensations Siracha Lime 150g,5,23.0
12,2019-05-18,9,9208,8634,15,Twisties Cheese 270g,2,9.2
13,2018-08-17,13,13213,12447,92,WW Crinkle Cut Chicken 175g,1,1.7
14,2019-05-15,19,19272,16686,44,Thins Chips Light& Tangy 175g,1,3.3
15,2019-05-19,20,20164,17136,54,CCs Original 175g,1,2.1
16,2018-08-18,20,20418,17413,94,Burger Rings 220g,4,9.2
17,2018-08-14,22,22411,18646,98,NCC Sour Cream & Garden Chives 175g,1,3.0
18,2018-08-17,22,22456,18696,93,Doritos Corn Chip Southern Chicken 150g,1,3.9
19,2019-05-16,23,23067,19162,56,Cheezels Cheese Box 125g,1,2.1

In [18]:
# change the 'PROD_NAME' to  the same case
transc['PROD_NAME'] = transc['PROD_NAME'].str.lower()

In [20]:
transc.head(20)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,natural chip compny seasalt175g,2,6.0
1,2019-05-14,1,1307,348,66,ccs nacho cheese 175g,3,6.3
2,2019-05-20,1,1343,383,61,smiths crinkle cut chips chicken 170g,2,2.9
3,2018-08-17,2,2373,974,69,smiths chip thinly s/cream&onion 175g,5,15.0
4,2018-08-18,2,2426,1038,108,kettle tortilla chpshny&jlpno chili 150g,3,13.8
5,2019-05-19,4,4074,2982,57,old el paso salsa dip tomato mild 300g,1,5.1
6,2019-05-16,4,4149,3333,16,smiths crinkle chips salt & vinegar 330g,1,5.7
7,2019-05-16,4,4196,3539,24,grain waves sweet chilli 210g,1,3.6
8,2018-08-20,5,5026,4525,42,doritos corn chip mexican jalapeno 150g,1,3.9
9,2018-08-18,7,7150,6900,52,grain waves sour cream&chives 210g,2,7.2
10,2019-05-17,7,7215,7176,16,smiths crinkle chips salt & vinegar 330g,1,5.7
11,2018-08-20,8,8294,8221,114,kettle sensations siracha lime 150g,5,23.0
12,2019-05-18,9,9208,8634,15,twisties cheese 270g,2,9.2
13,2018-08-17,13,13213,12447,92,ww crinkle cut chicken 175g,1,1.7
14,2019-05-15,19,19272,16686,44,thins chips light& tangy 175g,1,3.3
15,2019-05-19,20,20164,17136,54,ccs original 175g,1,2.1
16,2018-08-18,20,20418,17413,94,burger rings 220g,4,9.2
17,2018-08-14,22,22411,18646,98,ncc sour cream & garden chives 175g,1,3.0
18,2018-08-17,22,22456,18696,93,doritos corn chip southern chicken 150g,1,3.9
19,2019-05-16,23,23067,19162,56,cheezels cheese box 125g,1,2.1

In [26]:
#separating the string and the digits to be in the same formating as the rest of the trings (with a ' ' between the string and the digit containg the grams)
import re

transc['PROD_NAME'] = transc['PROD_NAME'].apply(lambda x: re.sub(r'(?<=[a-zA-Z])(?=\d)', ' ', x))

In [30]:
#display to see the changes
transc.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,natural chip compny seasalt 175g,2,6.0
1,2019-05-14,1,1307,348,66,ccs nacho cheese 175g,3,6.3
2,2019-05-20,1,1343,383,61,smiths crinkle cut chips chicken 170g,2,2.9
3,2018-08-17,2,2373,974,69,smiths chip thinly s/cream&onion 175g,5,15.0
4,2018-08-18,2,2426,1038,108,kettle tortilla chpshny&jlpno chili 150g,3,13.8

In [33]:
#splitting the column 'PROD_NAME'
# Extract the quantity information using regular expressions
transc['QTY-GRAMS'] = transc['PROD_NAME'].str.extract(r'(\d+g)')
transc.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,QTY-GRAMS
0,2018-10-17,1,1000,1,5,natural chip compny seasalt 175g,2,6.0,175g
1,2019-05-14,1,1307,348,66,ccs nacho cheese 175g,3,6.3,175g
2,2019-05-20,1,1343,383,61,smiths crinkle cut chips chicken 170g,2,2.9,170g
3,2018-08-17,2,2373,974,69,smiths chip thinly s/cream&onion 175g,5,15.0,175g
4,2018-08-18,2,2426,1038,108,kettle tortilla chpshny&jlpno chili 150g,3,13.8,150g

In [44]:
#removing the digit + 'g' in the 'PROD_NAME'
transc['PROD_NAME'] = transc['PROD_NAME'].str[:-4].str.strip()
# Print the modified dataframe
transc.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,QTY-GRAMS
0,2018-10-17,1,1000,1,5,natural chip compny seasalt,2,6.0,175g
1,2019-05-14,1,1307,348,66,ccs nacho cheese,3,6.3,175g
2,2019-05-20,1,1343,383,61,smiths crinkle cut chips chicken,2,2.9,170g
3,2018-08-17,2,2373,974,69,smiths chip thinly s/cream&onion,5,15.0,175g
4,2018-08-18,2,2426,1038,108,kettle tortilla chpshny&jlpno chili,3,13.8,150g

In [65]:
#joining the first dataset with the second data set using the primary key
merged_data = pd.merge(left=purch, right=transc, on='LYLTY_CARD_NBR', how='right')

In [68]:
#check the total number of rows and columns after merging in comparison to the others
print('merged_data = ', merged_data.shape)
print('purch =', purch.shape)
print('transc =', transc.shape)

merged_data =  (264836, 11)
purch = (72637, 3)
transc = (264836, 9)

In [70]:
#save the merged data set to csv
merged_data.to_csv('merged_dataset.csv', index=False)